html {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e3e3e3;
    color: gray;
    text-align: center;
}

header {
    padding: 20px 148px;
    padding-bottom: 8.6%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    margin-left: 1%;
    margin-right: 1%;
}

nav {
    padding: 14px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50px;
    transition: background 1s ease;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 66%;
    z-index: 1000;
}

nav.scroll {
    color: black;
    background-color: white;
}

.nav-links a.scroll.active {
    color: #4CAF50;
    border-bottom: 1px solid #000;
}

.nav-links .active {
    color: #4CAF50;
    border-bottom: 1px solid white;
}

.nav-links {
    width: 70%;
}

nav .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

a.nav-links {
    margin-left: 45px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

a.nav-links.scroll {
    margin-left: 45px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

a.nav-links:hover {
    color: #1a237e;
    background-color: aquamarine;
    border-radius: 50%;
    text-decoration: underline;
    color: #555;
}

footer a {
    color: #dfdfdf;
}

footer a:hover {
    color: rgb(131, 255, 119);
}

footer {
    padding: 20px 148px;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 40px;
}

footer .socials img {
    display: flex;
    height: 50px;
    margin-right: 45px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}